:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
}

#contentHolder {
    width: 550px;
    height: fit-content;
}

/* Modified */

.progress {
    height: 32px !important;
}

.hardware-name {
    width: 10%;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.bootstrap-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    aspect-ratio: 3/2;
}